* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Hanken Grotesk', sans-serif;
    color: hsl(0, 0%, 100%);
}

.result__field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.result__field p {
    font-weight: 800;
    opacity: 0.5;
}

section.result__field--score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
}

#main__score {
    font-size: 60px;
    opacity: 1;
}

section.result__field--desc {
    margin: 15px 0;
    width: 70%;
    text-align: center;
}

section.result__field--desc p {
    font-weight: 500;
}

#main__desc {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    opacity: 1;
}

.summary__field {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 90%;
    color: black;
}

i {
    padding-right: 10px;
}

.summary__field p {
    font-weight: 800;
    font-size: 18px;
}

.summary__field--sections {
    font-weight: 700;
    opacity: 0.8;
}

.summary__field--sections section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
}

.score {
    display: flex;
    color: black;
}

.percent {
    padding-left: 10px;
    opacity: .5;
}

section.summary__field--reaction {
    margin-top: 20px;
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, .1);
}

section.summary__field--memory {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, .1);
}

section.summary__field--verbal {
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, .1);
}

section.summary__field--visual {
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, .1);
}

.continue__button {
    margin: 0 auto;
    width: 100%;
}

.continue__button button {
    padding: 20px;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    background-color: hsl(224, 30%, 27%);
    border: none;
    border-radius: 30px;
}

.continue__button button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.attribution {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    margin: 30px 0;
    color: hsl(224, 30%, 27%);
}

@media only screen and (min-width: 1200px) {
    :root {
        font-size: 18px;
    }

    main {
        display: flex;
        margin: 100px auto;
        width: 50%;
    }

    .result__field {
        border-radius: 30px;
        margin: 0 60px;
    }
}